.match-timeline-player {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 (-0.5rem);
  border: 0 solid rgba(0, 0, 0, .2);

  &.-mirror {
    border-left-width: 1px;
    flex-direction: row-reverse;
    text-align: right;
  }

  &:not(.-mirror) {
    border-right-width: 1px;
  }

  &:nth-child(even) {
    background-color: rgba(0, 0, 0, .1);
  }

  > .champion,
  > .name,
  > .items,
  > .kda,
  > .minions,
  > .games,
  > .lane,
  > .spells,
  > .ward,
  > .gold {
    padding: .5rem;
  }

  > .items,
  > .kda,
  > .minions,
  > .gold {
    text-align: center;
  }

  > .name {
    flex: 1;
  }

  > .ward {
    flex-basis: 45px;
  }

  &.-mirror > .ward {
    padding-left: 0;
  }

  &:not(.-mirror) > .ward {
    padding-right: 0;
  }

  > .name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  > .kda {
    flex-basis: 5rem;
  }

  > .gold {
    flex-basis: 5rem;
  }

  > .lane {
    flex-basis: 120px;
  }

  > .minions {
    flex-basis: 4rem;
  }

  > .items {
    flex-basis: 7rem;
    display: flex;
    flex-wrap: wrap;
    margin: -0.2em;
  }

  > .items > .item {
    padding: .2em;
  }

  @media (max-width: 500px) {
    flex-wrap: wrap;
    justify-content: space-between;

    > .name {
      flex-basis: calc(100% - 60px);
      flex-shrink: 0;
    }
  }
}