@mixin button-variant($color) {
  color: $color;

  &:hover,
  &.-active {
    color: #fff;
    background-color: $color;
    border-color: $color;
  }

  &:active {
    color: #fff;
    background-color: darken($color, 10%);
    border-color: darken($color, 10%);
  }

  &[disabled] {
    background-color: $color;
    color: #fff;
    border: none;
  }
}