/css/*.css
/css/*.css.map
/.sass-cache
.DS_STORE
/node_modules/
/images/lol/champion/splash/thumbnail/
/images/lol/tier/small/
/npm-debug.log.*
/bower_components/
/images/raw/
/version
/js/*.js
/js/*.js.map
*.swp
/test/build/
/test/index.html
/npm-debug.log
