.twitch-stream-button {
  position: absolute;
  background-color: $primary-color;
  color: #fff;
  padding: .8em .85em;
  opacity: .7;
  top: 50%;
  cursor: pointer;
  transform: translate3d(0, -50%, 0);
  transition: opacity .3s;

  &:hover {
    opacity: 1;
  }

  &.-disabled {
    opacity: .2;
    cursor: initial;
  }

  &.-left {
    left: 0;
  }

  &.-right {
    right: 0;
  }
}